<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <img src="imagens/image.png" alt="logo sistena">
    <form id="formulario" action="/criar-conta" method="post">
        <label for="nome">Nome Completo</label>
        <input type="text" name="nome" id="nome" placeholder="Digite o nome Completo">

        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Digite o email">

        <label for="senha">Senha</label>
        <input type="text" name="senha" id="senha" placeholder="Digite a senha">

        <button type="submit">Salvar</button>
    </form>
</body>

</html>

</html>